$primary-pink: #d81b60;
$primary-pink-l:#ff5c8d;
$primary-pink-d:#a00037;
$primary-blue:#31bbd6;
$primary-blue-d:#23758E;
$primary-text:#212121;
$primary-color-l:#B3E5FC;
$primary-btn:#18f7f7;
$primary-btn-hover:#4dd3ee;
$submit-btn:#18f7f7;
$submit-btn-hover:#4dd3ee;
$secondary-text:#757575;
$body:#c6dbf0;